.banner {
  padding: 20px 40px;
  background-image: var(--bg-banner);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  background-color: var(--cor-banner-bg-2);
  margin: 40px 0;

  &__titulo {
    color: var(--cor-secundaria);
    font-family: "Bodoni Moda";
    line-height: 1.2;
    margin: 0;
  }

  &__subtitulo {
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
    font-weight: 300;
    background-color: var(--cor-banner-bg-2);
    color: var(--cor-secundaria);
  }
}
